{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sales list</h1>

    <table>
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Documento</th>
            <th>Price</th>
            <th>Unitcode</th>
            <th>Taxcode</th>
            <th>Userid</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.docType}}</td>
                <td>{{ sale.serie }}-{{ sale.correlativo }}</td>
                <td>{{ sale.emision|date('d/m/Y')}}</td>
                <td>{{ sale.moneda }}</td>
                <td>{{ sale.total }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productos_edit', { 'id': sale.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sale_new') }}">Create a new sale</a>
        </li>
    </ul>
{% endblock %}
