{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usertaxes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Userid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userTax in userTaxes %}
            <tr>
                <td><a href="{{ path('tipo-tributo_show', { 'id': userTax.id }) }}">{{ userTax.id }}</a></td>
                <td>{{ userTax.code }}</td>
                <td>{{ userTax.userId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipo-tributo_show', { 'id': userTax.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipo-tributo_edit', { 'id': userTax.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipo-tributo_new') }}">Create a new userTax</a>
        </li>
    </ul>
{% endblock %}
