{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Hierarchies de {{ hierarchy.description }}</div>
            <div class="panel-body">
                <div class="bottom-space">
                    <a class="btn btn-success" href="{{ path('hierarchy_new') }}"><i class="fa fa-plus"></i> Crear nuevo Hierarchy</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hierarchy in hierarchies %}
                            <tr>
                                <td>{{ hierarchy.id }}</td>
                                <td>{{ hierarchy.code }}</td>
                                <td>{{ hierarchy.description }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm"
                                       href="{{ path('hierarchy_edit', { 'id': hierarchy.id, 'code': hierarchy.code }) }}"><i class="fa fa-edit"></i> Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="{{ path('hierarchy_index') }}"><i class="fa fa-angle-double-left"></i> Regresar a lista</a>
            </div>
        </div>
    </div>
{% endblock %}
