{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Lista de Productos</div>
            <div class="panel-body">
                <div class="bottom-space">
                    <a class="btn btn-success" href="{{ path('productos_new') }}"><i class="fa fa-plus"></i> Crear nuevo producto</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Unidad</th>
                            <th>Tipo IGV</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.code }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.unitCode }}</td>
                                <td>{{ product.taxCode }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm"
                                       href="{{ path('productos_edit', { 'id': product.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
