{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .angucomplete-holder {
            position: relative;
        }

        .angucomplete-dropdown {
            border: #ececec solid 1px;
            border-radius: 2px;
            padding: 6px;
            cursor: pointer;
            width: 250px;
            z-index: 9999;
            position: absolute;
            margin-top: -6px;
            background-color: #ffffff;
        }

        .angucomplete-searching {
            color: #acacac;
            font-size: 14px;
        }

        .angucomplete-description {
            font-size: 14px;
            color: whitesmoke;
        }

        .angucomplete-row {
            padding: 5px;
            color: #000000;
            margin-bottom: 4px;
            clear: both;
        }

        .angucomplete-selected-row {
            background-color: #3c94e6;
            color: #ffffff;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container" ng-app="fe" ng-controller="Main">
        <h1>Nuevo Comprobante</h1>
        <div class="row">
            <div class="col-md-2">
                <label for="tipoDoc">Tipo de Documento</label>
                <select id="tipoDoc"
                        class="form-control"
                        ng-model="selecTipoDoc"
                        ng-options="item as item.description for item in tipoDocs track by item.code"
                        ng-change="onDocChange()">
                </select>
            </div>
            <div class="col-md-2">
                <label for="serie">Serie</label>
                <input class="form-control" id="serie" ng-model="doc.serie">
            </div>
            <div class="col-md-2">
                <label for="numero">Correlativo</label>
                <input class="form-control" id="numero" ng-model="doc.correlativo">
            </div>
            <div class="col-md-2">
                <label for="emision">Fecha de Emisión</label>
                <input type="date" class="form-control" id="emision" ng-model="doc.emision">
            </div>
            <div class="col-md-4">
                <label>Cliente</label>
                <angucomplete-alt
                        placeholder="buscar cliente"
                        pause="400"
                        selected-object="selectClient"
                        remote-url="{{ path('client_filter') }}?s="
                        title-field="document,name"
                        minlength="2"
                        input-class="form-control">
                </angucomplete-alt>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label form="moneda">Moneda</label>
                <select id="moneda"
                        class="form-control"
                        ng-model="selectMoneda"
                        ng-options="item as item.description for item in monedas track by item.code">
                </select>
            </div>
        </div>
        <br><br>
        <div class="panel panel-default">
            <div class="panel-heading">Detalles</div>
            <div class="panel-body" style="width: 100%">
                <app-detail ng-repeat="detail in details"
                            product="detail"
                            on-delete="removeDetail($index)"
                            on-update="updateDetail($index)">
                </app-detail>
                <br>
                <button class="btn btn-success"
                    ng-click="addDetail()">
                    <i class="fa fa-plus"></i> Agregar
                </button>
                <br>
                <div class="row">
                    <div class="col-md-offset-8 col-md-4">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="text-right">Op. Gravadas</td>
                                <td ng-bind="doc.gravada|number:2"></td>
                            </tr>
                            <tr>
                                <td class="text-right">Op. Inafectas</td>
                                <td ng-bind="doc.inafecta|number:2"></td>
                            </tr>
                            <tr>
                                <td class="text-right">Op. Exoneradas</td>
                                <td ng-bind="doc.exonerada|number:2"></td>
                            </tr>
                            <tr>
                                <td class="text-right">IGV (18%)</td>
                                <td ng-bind="doc.igv|number:2"></td>
                            </tr>
                            <tr>
                                <td class="text-right">Total</td>
                                <td ng-bind="doc.total|number:2"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <button class="btn btn-primary"
                ng-click="create()">
            <i class="fa fa-save"></i> Crear
        </button>
        <br><br>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/sale.js') }}"></script>
    <script>
        angular.module('fe', ["angucomplete-alt"])
            .factory('FeService', ['$http', function ($http) {
                return {
                    getTiposDoc: getTiposDoc,
                    getSeriesForTipo: getSeriesForTipo,
                    getClients: getClients,
                    getProducts: getProducts,
                    getTaxs: getTaxs,
                    getMonedas: getMonedas,
                    save: save
                };

                function getTiposDoc() {
                    return $http.get('{{ path('hierarchy_group', {id: 1}) }}');
                }

                function getSeriesForTipo(tipo) {
                    return $http.post('{{ path('serie_by_doc') }}', tipo);
                }

                function getClients(filter) {
                    return $http.post('{{ path('client_filter') }}', filter);
                }

                function getProducts(filter) {
                    return $http.get('{{ path('productos_filter') }}?s=' + filter);
                }

                function getTaxs() {
                    return $http.get('{{ path('hierarchy_group', {id: 7}) }}');
                }
                
                function getMonedas() {
                    return $http.get('{{ path('hierarchy_group', {id: 2}) }}');
                }

                function save(data) {
                    return $http.post('{{ path('sale_new_save') }}', data);
                }
            }])
            .factory('storeService', ['FeService', function ($service) {
                var taxs = null;
                var service = {
                    getTaxs: getTaxs
                };
                var callbacks = [];

                activate();
                return service;

                function activate() {
                    $service.getTaxs()
                        .then(function (r) {
                            taxs = r.data;
                            if (callbacks) {
                                for (var i = 0; i < callbacks.length; i++) {
                                    callbacks[i](taxs);
                                }
                            }
                        });
                }

                function getTaxs(func) {
                    if (taxs) {
                        callbacks = [];
                        func(taxs);
                        return;
                    }
                    callbacks.push(func);
                }

            }])
            .component('appDetail', {
                template: `
                <div class="row">
                    <div class="col-md-2">
                        <label>Producto</label>
                        <angucomplete-alt
                              placeholder="buscar producto"
                              pause="400"
                              selected-object="selectProd"
                              remote-url="{{ path('productos_filter') }}?s="
                              title-field="code,name"
                              minlength="2"
                              description-field="price"
                              input-class="form-control"/>
                    </div>
                    <div class="col-md-1">
                        <label>Cantidad</label>
                        <input class="form-control"
                        type="text" title="cantidad"
                        ng-change="$ctrl.onUpdate()"
                        ng-model="$ctrl.product.quantity">
                    </div>
                    <div class="col-md-2">
                        <label>Tipo IGV</label>
                         <select class="form-control"
                                ng-change="onSelectTax()"
                                ng-model="selectTax"
                                ng-options="item.description for item in taxs track by item.code">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Valor Unitario</label>
                        <input
                        ng-model="$ctrl.product.price"
                        ng-change="$ctrl.onUpdate()"
                        class="form-control"
                        type="text"
                        title="valor unitario">
                    </div>
                    <div class="col-md-2">
                        <label>SubTotal</label>
                        <input class="form-control" type="text" title="subtotal" ng-model="$ctrl.product.subtotal">
                    </div>
                    <div class="col-md-2">
                        <label>TOTAL</label>
                        <input class="form-control" type="text" title="total" ng-model="$ctrl.product.total">
                    </div>
                    <div class="col-md-1">
                        <label style="height: 40px;"></label>
                        <button
                        ng-click="$ctrl.onDelete()"
                        class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
                `,
                bindings: {
                    product: '<',
                    onDelete: '&',
                    onUpdate: '&'
                },
                controller: detailController
            })
            .controller('Main', ['$scope', 'FeService', function ($scope, $service) {
                $scope.doc = {
                    gravada: 0,
                    exonerada: 0,
                    inafecta: 0,
                    igv: 0,
                    total: 0,
                    emision: new Date()
                };
                $scope.details = [];
                $scope.onDocChange = onDocChange;
                $scope.removeDetail = remove;
                $scope.updateDetail = update;
                $scope.addDetail = addDetail;
                $scope.create = create;
                activate();

                function activate() {
                    $service.getTiposDoc()
                        .then(function (r) {
                            $scope.tipoDocs = r.data;
                        });

                    $service.getMonedas()
                        .then(function (r) {
                            $scope.monedas = r.data;
                        })
                }

                function create() {
                    var doc = $scope.doc;
                    if ($scope.selectMoneda) {
                        doc.moneda = $scope.selectMoneda.code;
                    }
                    if ($scope.selecTipoDoc) {
                        doc.docType = $scope.selecTipoDoc.code;
                    }
                    if ($scope.selectClient) {
                        doc.clientId = $scope.selectClient.originalObject.id;
                    }
                    //doc.operationType = '01';
                    doc.details = $scope.details;

                    $service.save($scope.doc)
                        .then(function (r) {
                            console.log(r.data);
                            alert('save');
                        });
                    console.log($scope.doc);
                }

                function update(idx) {
                    calcDetail($scope.details[idx]);
                    sumTotals();
                    console.log($scope.details[idx]);
                }

                function onDocChange() {
                    var tipo = $scope.selecTipoDoc;
                    $service.getSeriesForTipo({doc: tipo.code})
                        .then(function (r) {
                            var obj = r.data;
                            $scope.doc.serie = obj.serie;
                            $scope.doc.correlativo = obj.correlativo;
                        }, function () {
                            $scope.doc.serie = '';
                            $scope.doc.correlativo = '';
                        });
                }

                function remove(idx) {
                    $scope.details.splice(idx, 1);
                }

                function addDetail() {
                    $scope.details.push({
                        quantity: 1,
                        tax: '10',
                        value: 0
                    });
                }

                function calcDetail(prod) {
                    if (!prod.tax) {
                        return;
                    }
                    prod.price = prod.price || 0;
                    prod.quantity = prod.quantity || 0;
                    prod.subtotal = prod.price * prod.quantity;
                    var total = 0;
                    var igv = 0;
                    switch(prod.tax) {
                        case '10':
                            total = prod.subtotal * 1.18;
                            igv = prod.subtotal * 0.18;
                            break;
                        case '20':
                        case '30':
                            total = prod.subtotal * 1.18;
                            break;
                    }

                    prod.igv = igv;
                    prod.total = total;
                }
                
                function sumTotals() {
                    var len = $scope.details.length;
                    var totals = {};
                    var total = 0;
                    var igv = 0;
                    for (var i = 0; i < len; i++) {
                        var obj = $scope.details[i];
                        var tax = obj.tax;
//                        if (!tax) {
//                            continue;
//                        }
                        var t = obj.total || 0;
                        if (totals.hasOwnProperty(tax)) {
                            totals[tax] += t
                        } else {
                            totals[tax] = t;
                        }
                        igv += obj.igv;
                        total += t;
                    }

                    $scope.doc.gravada = totals['10'] || 0;
                    $scope.doc.exonerada = totals['20'] || 0;
                    $scope.doc.inafecta = totals['30'] || 0;
                    $scope.doc.igv = igv;
                    $scope.doc.total = total;
                }
            }]);

        detailController.$inject = ['$scope', 'storeService'];
        function detailController($scope, $store) {
            var ctr = this;
            $scope.selectProd = {};
            $scope.selectTax = null;
            $scope.onSelectTax = onSelectTax;
            activate();
            function activate() {
                $scope.$watch('selectProd', afterSelProd);
                $store.getTaxs(function (data) {
                    $scope.taxs = data;
                });
            }

            function onSelectTax() {
                if (!$scope.selectTax) {
                    return;
                }
                ctr.product.taxCode = $scope.selectTax.code;
                console.log(ctr.product.tax);
                ctr.onUpdate();
            }
            function afterSelProd() {
                if (!$scope.selectProd || !$scope.selectProd.originalObject) {
                    return;
                }
                var newProd = $scope.selectProd.originalObject;
                var prod = ctr.product;

                console.log(newProd);
                prod.productId = newProd.id;
                prod.unitValue = newProd.unit;
                prod.taxCode = newProd.tax;
                $scope.selectTax = {code: newProd.tax};
                prod.price = newProd.price;

                ctr.onUpdate();
            }

            function getSelect(code) {
                var len = $scope.taxs.length;
                for (var i = 0; i < len; i++) {
                    var obj = $scope.taxs[i];
                    if (obj.code === code) {
                        return obj;
                    }
                }
            }
        }
    </script>
{% endblock %}
