{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Lista de Clientes</div>
            <div class="panel-body">
                <div class="bottom-space">
                    <a class="btn btn-success" href="{{ path('client_new') }}"><i class="fa fa-plus"></i> Crear nuevo cliente</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Tipo Doc.</th>
                            <th>Nro. Doc.</th>
                            <th>Nombre / Razón Social</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for client in clients %}
                            <tr>
                                <td>{{ client.typeDoc }}</td>
                                <td>{{ client.document }}</td>
                                <td>{{ client.nameRzs }}</td>
                                <td>{{ client.email }}</td>
                                <td>{{ client.address }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm"
                                       href="{{ path('client_edit', { 'id': client.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
