{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Lista de Series y Correlativos</div>
            <div class="panel-body">
                <div class="bottom-space">
                    <a class="btn btn-success" href="{{ path('series-documento_new') }}"><i class="fa fa-plus"></i> Crear nueva serie</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Serie</th>
                            <th>Correlativo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for docNumber in docNumbers %}
                            <tr>
                                <td>{{ docNumber.code }}</td>
                                <td>{{ docNumber.serie }}</td>
                                <td>{{ docNumber.correlativo }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm"
                                       href="{{ path('series-documento_edit', { 'id': docNumber.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
