<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#4286f4">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Titan4Control - Herramienta para Laboratorios">
    <meta name="author" content="">
    <title>Login | Titan4Control</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div id="legend">
        <legend class="">Register</legend>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Username</label>
        <div class="col-sm-10">
            {{ form_widget(form.username, {'attr' : { 'class' : 'form-control'}}) }}
            {{ form_errors(form.username) }}
        </div>
    </div>

    <div class="form-group">
        <!-- E-mail -->
        <label class="control-label col-sm-2" for="email">E-mail</label>
        <div class="col-sm-10">
            {{ form_widget(form.email, {'attr' : { 'class' : 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>
    </div>

    <div class="form-group">
        <!-- Password-->
        <label class="control-label col-sm-2" for="password">Password</label>
        <div class="col-sm-10">
            {{ form_widget(form.password.first, {'attr' : { 'class' : 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <!-- Password -->
        <label class="control-label col-sm-2"  for="password_confirm">Password (Confirm)</label>
        <div class="col-sm-10">
            {{ form_widget(form.password.second, {'attr' : { 'class' : 'form-control'}}) }}
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Register!</button>
    </div>
    {{ form_end(form) }}
</div>
</body>
</html>